<div class="row">
    <div class="col m5 s5">
        <div class="row avatar-div">
            <img src="{{ " /images/avatar.png " | prepend: site.baseurl }} " class="responsive-img circle avatar center-block" alt="Responsive image">
        </div>
       <div class="row">
            <p class="gray">
                Desenvolvedor e viajante do espaço-tempo. Esse blog tem o mesmo o objetivo de tantos outros blogs, não fazer muito sentido, apenas todo.
            </p>
        </div>
    </div>
    <div class="col m7 s6">
        <div class="row">
            <a href="{{ site.baseurl }}/">
                <h4 class="text-center title-site title flow-text"><strong> Igor Gonçalves </strong></h4>
            </a>
        </div>

        <div class="row">
                <div cl ass="center-align">
                    <div class="col m2 ">
                        <a href="https://br.linkedin.com/in/igorgoncalves" target=”new”><i class="fa fa-linkedin fa-2x clicker"></i></a>
                    </div>
                    <div class="col m2 social-ico">
                        <a href="https://www.facebook.com/igor.goncalves.927" target=”new”><i class="fa fa-facebook fa-2x clicker"></i></a>
                    </div>
                    <div class="col m2 social-ico"><a href="https://github.com/IgorGoncalves" target=”new”><i class="fa fa-github fa-2x clicker"></i></a>
                    </div>
                    <div class="col m2 social-ico"><a href="https://plus.google.com/u/0/+IgorGonçalves19/" target=”new”><i class="fa fa-google-plus fa-2x clicker"></i></a>
                    </div>
                </div>
            </div>
    </div>
</div>
