<div class="bios center-block">
    <div class="bios-avatar">
        <a href="{{ site.baseurl }}/">
          <img src="{{ " /images/avatar.png " | prepend: site.baseurl }} " class="img-responsive img-circle avatar center-block" alt="Responsive image">
        </a>
    </div>
    <div class="bios-name">
        <a href="{{ site.baseurl }}/">
            <h1 class="text-center bios-name"><strong> Igor Gonçalves </strong></h1>
        </a>
    </div>
    <br>
    <div class="bios-description">
        <p class="gray">
            Desenvolvedor e viajante do espaço-tempo. Esse blog tem o mesmo o objetivo de tantos outros blogs, não fazer muito sentido, apenas todo.
        </p>
    </div>

    <!--Social-->
    <div class="center-align">
      <div class="col-md-12">
       <div class="row">
          <div class="col-md-2">
              <a href="https://br.linkedin.com/in/igorgoncalves" target=”new”><i class="fa fa-linkedin fa-2x clicker"></i></a>
          </div>
          <div class="col-md-2 social-ico">
              <a href="https://www.facebook.com/igor.goncalves.927" target=”new”><i class="fa fa-facebook fa-2x clicker"></i></a>
          </div>
          <div class="col-md-2 social-ico"><a href="https://github.com/IgorGoncalves" target=”new”><i class="fa fa-github fa-2x clicker"></i></a>
          </div>
          <div class="col-md-2 social-ico"><a href="https://plus.google.com/u/0/+IgorGonçalves19/" target=”new”><i class="fa fa-google-plus fa-2x clicker"></i></a>
          </div>
       </div>
       </div>
    </div>
    <hr>

</div>
