<div class="row">
  <div class="col-xs-5 col-sm-5">
    <div class="side-mobile-left">
      <div class="row">
        <a href="{{ site.baseurl }}/">
          <img src="{{ " /images/avatar.png " | prepend: site.baseurl }} " class="img-responsive img-circle avatar center-block" alt="Responsive image">
        </a>
      </div>
      <div class="row">
        <div class="bios-description">
          <p class="gray">
            Desenvolvedor e viajante do espaço-tempo. Esse blog tem o mesmo o objetivo de tantos outros blogs, não fazer muito sentido, apenas todo.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="side-mobile-right">
      <div class="row">
        <div class="bios-name">
          <a href="{{ site.baseurl }}/">
            <h4 class="text-center bios-name">
              <strong> Igor Gonçalves </strong>
            </h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="bios-social">
          <div class="col-sm-2 col-xs-2 social-ico">
            <a href="https://br.linkedin.com/in/igorgoncalves" target=”new”>
              <i class="fa fa-linkedin fa-2x clicker"></i>
            </a>
          </div>
          <div class="col-sm-2 col-xs-2 social-ico">
            <a href="https://www.facebook.com/igor.goncalves.927" target=”new”>
              <i class="fa fa-facebook fa-2x clicker"></i>
            </a>
          </div>
          <div class="col-sm-2 col-xs-2 social-ico">
            <a href="https://github.com/IgorGoncalves" target=”new”>
              <i class="fa fa-github fa-2x clicker"></i>
            </a>
          </div>
          <div class="col-sm-2 col-xs-2 social-ico">
            <a href="https://plus.google.com/u/0/+IgorGonçalves19/" target=”new”>
              <i class="fa fa-google-plus fa-2x clicker"></i>
            </a>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
