{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %} {% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar==false %} class="no-sidebar" {% endif %} {% if page.sidebar=='collapse' or site.sidebar=='collapse' %} class="collapse-sidebar sidebar-footer" {% endif %} >

    <header>
      <div class="row">
       <div class="offset-l3 col m6 s12 l3">
        <!-- {% include navigation.html %} -->
        </div>
    </div>
    </header>

    <div class="row container">
        <div class="col l3 fill side-nav fixed side">
            <div class="side-colum side bios-lateral ">
                {% include asides/bios.html %}
            </div>
        </div>
        <div class="col l12 s12 offset-l2">
            <main>
                {{ content | expand_urls: root_url }}
            </main>
        </div>
    </div>

{% include after_footer.html %}
</div>

</body>

</html>
