{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %} {% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar==false %} class="no-sidebar" {% endif %} {% if page.sidebar=='collapse' or site.sidebar=='collapse' %} class="collapse-sidebar sidebar-footer" {% endif %} >

<div class="row">
  <div class="col-xs-3 col-md-3 hidden-xs hidden-sm side">
      {% include asides/bios.html %}
  </div>
    <div class="col-md-9 col-sm-12 col-xs-12 bg-main">
        <main>
            {{ content | expand_urls: root_url }}
        </main>
    </div>
</div>

<div class="row  hidden-md hidden-lg">
      <div class="col-sm-12 col-xs-12 side-mobile" >
          {% include asides/bios-mobile.html %}
      </div>
</div>



{% include after_footer.html %}





</body>

</html>
