<!DOCTYPE html>
<html>

{% include head.html %}

<body>



    <div class="row">
        <div class="col-md-12">
            {% include header.html %}
        </div>
    </div>

    <div class="row fill">
        <div class="col-md-4 fill">
            <div class="bios-lateral">
                {% include bios.html %}
            </div>
        </div>
        <div class="container-fluid fill">
            <div class="col-md-8">
                {{ content }}
            </div>
        </div>

    </div>

</body>

</html>
