---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in site.posts %}

  <div class="row">
    <div class="col-md-12">
      <div class="post">
          {% if index %}
          {% if post.colour %}

            <div class="banner-post" style="background-color: #{{ post.colour }};  !important;">

            <div class="post-title">
              <a href="{{ root_url }}{{ post.url }}">
                <h4>
                  {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
                </h4>
              </a>
            </div>
            </div>


          {% else %}

            <div class="post-title">
              <h4 class="entry-title">
                <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
              </h4>
            </div>
          {% endif %}

          {% else %}
          <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
          {% unless page.meta == false %}
        <p class="meta">
          {% include post/date.html %}{{ time }}
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
             | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
               data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
          {% endif %}
        </p>
      {% endunless %}
      {% endif %}

            <div class="post-content">
              <p> {{ post.content | split:'<!--break-->' | first }}<br></p>
            </div>
            <hr>
            <div class="post-action">
              <a href="{{ post.url }}">
                <p class="text-center"><i class="fa fa-plus-circle"></i> Ler Mais </p>
             </a>
            </div>
          </div>
        </div>
      </div>

{% endfor %}


  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
